<% include ../includes/header %>
  <div class="wrapper">
  	<% include ../includes/sidebar %>
    	<div class="main-panel">
    	<% include ../includes/navbar %>
    		<div class="content">
    			<div class="container-fluid">
            <div class="col-md-8 col-lg-8 col-sm-12">
              <div class="card">
                <div class="card-content">
                    <% include ../includes/flash-errors %>
                    <form id="user-add-edit-form" method="post" <% if(typeof user == 'object'){ %> action="<%= user._id %>" <% } %>>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="name"></label>
                                    <input class="form-control" name="name" value="<% if(typeof user == 'object'){ %><%= user.name %><% } %>" type="text">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="language"></label>
                                    <select name="language" class="form-control">
                                        <option value="en" data-l10n-id="english" <% if(typeof user == 'object' &&  user.language=='en'){ %> selected="selected" <% } %>>English</option>
                                        <option value="es" data-l10n-id="spanish" <% if(typeof user == 'object' &&  user.language=='es'){ %> selected="selected" <% } %>>Spanish</option>
                                        <option value="fr" data-l10n-id="french" <% if(typeof user == 'object' &&  user.language=='fr'){ %> selected="selected" <% } %>>French</option>
                                        <option value="de" data-l10n-id="german" <% if(typeof user == 'object' &&  user.language=='de'){ %> selected="selected" <% } %>>German</option>
                                        <option value="pt" data-l10n-id="portuguese" <% if(typeof user == 'object' &&  user.language=='pt'){ %> selected="selected" <% } %>>Portuguese</option>
                                        <option value="ar" data-l10n-id="arabic" <% if(typeof user == 'object' &&  user.language=='ar'){ %> selected="selected" <% } %>>Arabic</option>
                                        <option value="ja" data-l10n-id="japanese" <% if(typeof user == 'object' &&  user.language=='ja'){ %> selected="selected" <% } %>>Japanese</option>
                                        <option value="pl" data-l10n-id="polish" <% if(typeof user == 'object' &&  user.language=='pl'){ %> selected="selected" <% } %>>Polish</option>
                                        <option value="ibo" data-l10n-id="igbo" <% if(typeof user == 'object' &&  user.language=='ibo'){ %> selected="selected" <% } %>>Igbo</option>
                                        <option value="yor" data-l10n-id="yoruba" <% if(typeof user == 'object' &&  user.language=='yor'){ %> selected="selected" <% } %>>Yoruba</option>
                                    </select>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="role"></label>
                                    <select class="form-control" name="role" onchange="show_user_fields(this.value)" <% if (mode == "edit") { %> disabled <% } %> >
                                        <option data-l10n-id="student" value="student" <% if(typeof user == 'object' &&  user.role=='student'){ %> selected="selected" <% } %> >Student</option>
                                        <option data-l10n-id="teacher" value="teacher" <% if(typeof user == 'object' &&  user.role=='teacher'){ %> selected="selected" <% } %> >Teacher</option>
                                        <option data-l10n-id="admin" value="admin" <% if(typeof user == 'object' &&  user.role=='admin'){ %> selected="selected" <% } %> >Admin</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row color_input">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="color"></label>
                                    <select class="form-control" name="color" id="color-select2">
                                        <% if(typeof user == "undefined") var random=Math.floor(Math.random()*xocolors.length); %>
                                        <% for(var i=0; i< xocolors.length; i++){ %>
                                          <% if(typeof user == 'object' && (typeof user.color == 'object' && xocolors[i].stroke == user.color.stroke && xocolors[i].fill == user.color.fill) || (random == i)) { %>
                                            <option selected="selected" data-stroke="<%= xocolors[i].stroke %>" data-fill="<%= xocolors[i].fill %>" value='<%- JSON.stringify(xocolors[i]) %>'></option>
                                          <% }else{ %>
                                            <option data-stroke="<%= xocolors[i].stroke %>" data-fill="<%= xocolors[i].fill %>" value='<%- JSON.stringify(xocolors[i]) %>'></option>
                                          <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="password"></label>
                                    <input class="form-control" name="password" id="password" value="<% if(typeof user == 'object'){ %><%= user.password %><% } %>" type="text" oninput="document.getElementById('passemoji').innerHTML = getHtmlForEmoji(document.getElementById('password').value);">
                                    <span class="form-control emojis" id="passemoji"><%- (typeof user == 'object') ? emoji.getHtml(user.password) : '' %></span>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <% if (typeof user == 'object' && user.created_time) { %>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="createdTime"></label>
                                    <input class="form-control" readonly value="<%= moment(user.created_time).calendar() %>" type="text">
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <% if (typeof user == 'object' && user.timestamp) { %>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="lastSeen"></label>
                                    <input class="form-control" readonly value="<%= moment(user.timestamp).calendar() %>" type="text">
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <% if (typeof classrooms == 'object') { %>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="classrooms"></label>
                                    <% if (classrooms.length > 0) { %>
                                    <table class="table table-hover">
                                        <thead class="text-muted">
                                            <tr>
                                                <th>#</th>
                                                <th data-l10n-id="icon">Icon</th>
                                                <th data-l10n-id="name">Name</th>
                                                <th data-l10n-id="studentsCount">Students Count</th>
                                                <th data-l10n-id="lastUpdated">Timestamp</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i < classrooms.length; i++) { %>
                                            <tr class="pointer" onclick=window.document.location='/dashboard/classrooms/edit/<%= classrooms[i]._id %>'>
                                                <td><%= i + 1 %></td>
                                                <td>
                                                    <div class="color" id="<%= classrooms[i]._id %>">
                                                        <div class="xo-icon"></div>
                                                    </div>
                                                </td>
                                                <script>
                                                    new icon().load("/public/img/classroom-icon.svg", ("<% JSON.stringify(classrooms[i].color) %>"), "<%= classrooms[i]._id %>");
                                                </script>
                                                <td><%= classrooms[i].name %></td>
                                                <td><%= classrooms[i].students.length %></td>
                                                <td><%= moment(classrooms[i].timestamp).calendar() %></td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    <% } else { %>
                                        <div class="form-control" data-l10n-id="noClassroomText"></div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <button class="btn pull-right btn-round" type="submit" data-l10n-id="save"></button>
                        <a class="btn pull-right btn-round" href="/dashboard/users" data-l10n-id="cancel"></a>
                        <div class="clearfix"></div>
                    </form>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% include ../includes/footer %>
<script>
function show_user_fields(val) {
  if(val == 'admin'){
	  $('.color_input').addClass('hide');
      $('.color_input input').attr('disabled', '');

  }else{
	  $('.color_input').removeClass('hide');
      $('.color_input input').removeAttr('disabled');

  }
}
show_user_fields('<% if(typeof user == "object"){ %><%= user.role %><% } %>')
</script>
