<% include includes/header %>
<div class="wrapper">
	<% include includes/sidebar %>
	<div class="main-panel">
		<% include includes/navbar %>
		<div class="content ">
			<div class="container-fluid">
				<div class="row" id="activities-list-parent">
						<div class="col-md-12">
								<div class="navbar-form navbar-right" id="activities-searchbox">
		                <div class="form-group form-black is-empty" style="margin:0;">
											<label data-l10n-id="activityNotFound" class="control-label hidden">Activity not found</label>
											<input class="form-control search_query" style="width: 300px;" oninput="hideLabel(this.value)" onchange="highlight(this.value.trim())"  value="" data-l10n-id="searchActivity" placeholder="" type="text">
											<span class="material-input"></span>
		                <span class="material-input"></span></div>
		                <button class="btn btn-white btn-round btn-just-icon" onclick="highlight($('.search_query').val().trim())">
		                    <i class="material-icons">search</i>
		                </button>
		            </div>
						</div>
						<div class="col-md-12">
							<div class="card card-plain" style="margin:10px;">
								<div class="card-content">
									<div class="col-lg-1 col-md-1 col-sm-1"></div>
									<div data-l10n-id="icon" class="text-center text-muted col-lg-1 col-md-1 col-sm-1">Icon</div>
									<div data-l10n-id="name" class="text-center text-muted col-lg-2 col-md-2 col-sm-2">Name</div>
									<div data-l10n-id="activity" class="text-center text-muted col-lg-4 col-md-4 col-sm-4">Activity</div>
									<div data-l10n-id="version" class="text-center text-muted col-lg-2 col-md-2 col-sm-2">Version</div>
									<div data-l10n-id="favorite" class="text-center text-muted col-lg-1 col-md-1 col-sm-1">Favorite</div>
									<div data-l10n-id="action" class="text-center text-muted col-lg-1 col-md-1 col-sm-1">Action</div>
								</div>
							</div>
						</div>
				    <div class="col-md-12">
							<ol class="simple_with_animation">
								<% for(var i=0; i < activities.length; i++) { %>
								<li>
									<div class="card" id="activities-card">
										<div class="card-content">
										<div class="col-lg-1 col-md-1 col-sm-1"><img <% if(account.user && account.user.role=="admin") { %> class="draggable pointer" id="activities-draggable"<% } %> src="../public/img/font-awesome-ellipsis-v.png" alt="drag" style="width:40px;height:40px;" data-l10n-id="reorder" title="Drag to Reorder" ></div>
											<div class="text-center col-lg-1 col-md-1 col-sm-1 ">
													<img style="width: 30px;height: 30px;margin: 5px;" src="/<%= activities[i].directory + '/' + activities[i].icon %>" />
											</div>
											<div class="text-center col-lg-2 col-md-2 col-sm-2 search_textbox" style="line-height: 40px;"><%= activities[i].name %></div>
											<div class="text-center col-lg-4 col-md-4 col-sm-4" style="line-height: 40px;"><%= activities[i].id %></div>
											<div class="text-center col-lg-2 col-md-2 col-sm-2" style="line-height: 40px;"><%= activities[i].version %></div>
											<div class="text-center col-lg-1 col-md-1 col-sm-1">
												<div class="favoriteBox">
														<label data-id="<%= activities[i].id %>">
															<input id="activities-favoriteBox" <% if(activities[i].favorite == true) { %> checked <% } %> name="favoriteActivities" type="checkbox" <% if(account.user && account.user.role=="admin") { %> onclick="updateActivities()" data-l10n-id="toggle-favourite" title="Toggle Favourite" <% } else { %>disabled<% } %>  >
															<span class="checkbox-material"></span>
														</label>
												</div>
											</div>
											<div class="text-center col-lg-1 col-md-1 col-sm-1" style="line-height: 40px;">
												<a href="javascript:launch_activity('/dashboard/activities/launch?aid=<%= activities[i].id %>')" data-l10n-id="launch" title="Launch"> 
													<i id="activity-launch" class="material-icons text-muted">launch</i>
												</a>
											</div>
										</div>

									</div>
								</li>
								<% } %>
							</ol>
				   </div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include includes/footer %>
<script>

//set headers
var headers = <%- JSON.stringify(headers) %>;
var url = '<%= url %>';

//init drag drop
<% if(account.user && account.user.role=="admin") { %>
	initDragDrop();
<% } %>
var activitiesTour = sugarizerTour("activities", <% if (account.user && account.user.role=="admin") {"admin"} else {"teacher"} %>);
activitiesTour.start();
</script>
