<% include includes/header %>
<div class="wrapper">
	<% include includes/sidebar %>
	<div class="main-panel">
		<% include includes/navbar %>
		<div class="content ">
			<div class="container-fluid">
				<div class="row">
						<div class="col-md-12">
								<div class="navbar-form navbar-right">
		                <div class="form-group form-black is-empty" style="margin:0;">
		                    <input class="form-control search_query" style="width: 300px;"  value="" data-l10n-id="searchActivity" placeholder="" type="text">
		                    <span class="material-input"></span>
		                <span class="material-input"></span></div>
		                <button class="btn btn-white btn-round btn-just-icon" onclick="highlight($('.search_query').val().trim())">
		                    <i class="material-icons">search</i>
		                </button>
		            </div>
						</div>
					<form method="get" id="user-form">
						<input type="text" name="sort" id="sort" style="display: none">
						<div class="col-md-12">
							<div class="card card-plain" style="margin:10px;">
								<div class="card-content">
									<div data-l10n-id="icon" class="text-center text-muted col-lg-2 col-md-2 col-sm-2">Icon</div>
									<div data-l10n-id="name" class="text-center text-muted col-lg-2 col-md-2 col-sm-2">Name</div>
									<div data-l10n-id="activity" class="text-center text-muted col-lg-4 col-md-4 col-sm-4">Activity</div>
									<div data-l10n-id="version" class="text-center text-muted col-lg-2 col-md-2 col-sm-2">Version</div>
									<div data-l10n-id="favorite" class="text-center text-muted col-lg-1 col-md-1 col-sm-1">Favorite</div>
									<div data-l10n-id="action" class="text-center text-muted col-lg-1 col-md-1 col-sm-1">Action</div>
								</div>
							</div>
						</div>
					</form>
				    <div class="col-md-12">
							<ol class="simple_with_animation">
								<% for(var i=0; i < activities.length; i++) { %>
								<li>
									<div class="card">
										<div class="card-content">
											<div class="text-center col-lg-2 col-md-2 col-sm-2">
													<img style="width: 30px;height: 30px;margin: 5px;" src="/<%= activities[i].directory + '/' + activities[i].icon %>" />
											</div>
											<div class="text-center col-lg-2 col-md-2 col-sm-2 search_textbox" style="line-height: 40px;"><%= activities[i].name %></div>
											<div class="text-center col-lg-4 col-md-4 col-sm-4" style="line-height: 40px;"><%= activities[i].id %></div>
											<div class="text-center col-lg-2 col-md-2 col-sm-2" style="line-height: 40px;"><%= activities[i].version %></div>
											<div class="text-center col-lg-1 col-md-1 col-sm-1">
												<div class="favoriteBox">
														<label data-id="<%= activities[i].id %>">
																<% if(activities[i].favorite == true){ %>
																	<input checked name="favoriteActivities" type="checkbox" onclick="updateActivities()">
																<% }else{ %>
																	<input name="favoriteActivities" type="checkbox" onclick="updateActivities()">
																<% } %>
																<span class="checkbox-material"></span>
														</label>
												</div>
											</div>
											<div class="text-center col-lg-1 col-md-1 col-sm-1" style="line-height: 40px;">
												<a href="javascript:launch_activity('/dashboard/activities/launch?aid=<%= activities[i].id %>')" data-l10n-id="launch" title="Launch"> 
													<i class="material-icons text-muted">launch</i>
												</a>
											</div>
										</div>
									</div>
								</li>
								<% } %>
							</ol>
				   </div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include includes/footer %>
<script>

//set headers
var headers = <%- JSON.stringify(headers) %>;
var url = '<%= url %>';

//init drag drop
initDragDrop();

</script>
