<%- include includes/header %>
      <div class="wrapper">
      <%- include includes/sidebar %>
        <div class="main-panel">
            <%- include includes/navbar %>
            <div class="content">
                <div class="container-fluid">
                    <div class="col-md-8 col-lg-8 col-sm-12">
                    <div class="card">
                        <div class="card-content">
                            <%- include ./includes/flash-errors %>
                            <form id="assignment-add-edit-form" method="post" <% if(typeof assignment == 'object'){ %> action="<%= assignment._id %>" <% } %>>
                                <div class="row" id="editAssignment-name">
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label" data-l10n-id="name"></label>
                                            <input class="form-control" name="name" value="<% if(typeof assignment == 'object'){ %><%= assignment.name %><% } %>" type="text">
                                            <span class="material-input"></span>
                                        </div>
                                    </div>
                                </div>
                                <% if(mode =="edit"){%>
                                    <div class="col-md-6">
                                        <div class="color" id="<%= assignment.assignedWork.objectId %>" >
                                            <div class='xo-icon'></div>
                                        </div>
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label" data-l10n-id="assignedWork"></label>
                                            <select  id="select2-activity" class="form-control" disabled name="Assign work"> 
                                                <option selected  value='<%= assignment.assignedWork.objectId %>'><%= assignment.assignedWork.metadata.title %></option>
                                            </select>
                                            <script>
                                                $(document).ready(function(){
                                                    new icon().load("<%= iconMap[assignment.assignedWork.metadata.activity] || '/public/img/application-x-generic.svg' %>", (<%- JSON.stringify(assignment.assignedWork.metadata.buddy_color?assignment.assignedWork.metadata.buddy_color:{stroke_color:"#005FE4",fill_color:"#FF2B34"}) %>), "<%= assignment.assignedWork.objectId %>");
                                                });
                                            </script>
                                        </div>		
                                    </div>
                                <% } %>
                                <% if(mode =="add"){%>
                                    <div class="col-md-2">
                                        <div id="icon" ></div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label" data-l10n-id="assignedWork"></label>
                                            <select id="select2-activity" name="assignedWork">
                                                <% for( var i=0; i < entries.length; i++) { %> 
                                                    <option value="<%= entries[i].objectId %>"><%= entries[i].metadata.title %></option>
                                                    <script>
                                                    $(document).ready(function(){
                                                        $('#select2-activity').val(null).trigger('change');
                                                        $("#select2-activity").on("change", function(){
                                                            var activity = $("#select2-activity").val();
                                                            $("#icon").html("<div class='color' id='"+activity+"'><div class='xo-icon'></div></div>");
                                                            new icon().load("<%= iconMap[entries[i].metadata.activity] || '/public/img/application-x-generic.svg' %>", (<%- JSON.stringify(entries[i].metadata.buddy_color?entries[i].metadata.buddy_color:{stroke_color:"#005FE4",fill_color:"#FF2B34"}) %>), "<%= entries[i].objectId %>");
                                                        });
                                                    });
                                                    </script>
                                                <% } %>
                                            </select>
                                            <script>
                                            $(document).ready(function() {
                                                var entries = <%- JSON.stringify(entries) %>;
                                                $('#select2-activity').select2({
                                                    placeholder:"Select an activity",
                                                    allowClear:true,
                                                });
                                            });
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group form-black label-floating">
                                            <a data-l10n-id="deleteAssignment" title="Delete Assignment" id="remove-activity"  class="material-icons remove-activity text-muted">delete_forever</i></a>
                                        </div>
                                        <script>
                                        $(document).ready(function(){
                                            $("#remove-activity").click(function(){
                                                if($("#select2-activity").val() != null){
                                                    $('#select2-activity').val(null).trigger('change');
                                                }
                                            });
                                        });
                                        </script>
                                    </div>
                                    <% } %>
                                    <div class="row" id="editAssignment-instructions">
                                        <div class="col-md-12">
                                            <div class="form-group form-black label-floating">
                                                <label class="control-label" data-l10n-id="instructions"></label>
                                                <textarea class="form-control" name="instructions" value="<% if(typeof assignment == 'object'){ %><%= assignment.instructions %><% } %>" type="text"><% if(typeof assignment == 'object'){ %><%= assignment.instructions %><% } %></textarea>
                                                <span class="material-input"></span>
                                            </div>										
                                        </div>
                                    </div>
                                    <div class="row" >
                                        <div class="col-md-3">
                                            <div class="form-group form-black label-floating">
                                                <label data-l10n-id="dueDate"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-black label-floating">
                                                <input id="datetimepicker1"   name="dueDate" placeholder="Date" class="form-control" value="<% if(typeof assignment == 'object' && assignment.dueDate){ %><%= new Date(assignment.dueDate).toLocaleString("en-US", {year: "numeric", month:"numeric", day:"numeric"})%><% } %>" type="text" autocomplete="off" />
                                                <span class="material-input"></span>
                                            </div>
                                        </div>
                                        <script>
                                        $(document).ready(function() {
                                            $('#datetimepicker1').datetimepicker({
                                            timepicker : false ,
                                            format:'m-d-Y',					
                                            });
                                        });
                                        </script>
                                        <div class="col-md-3">
                                            <div class="form-group form-black label-floating">
                                                <input class="form-control" id="timepicker" name="time"  value="<% if(typeof assignment == 'object' && assignment.dueDate){ %><%= new Date(assignment.dueDate).toLocaleString("en-US", {hour: '2-digit', minute: '2-digit', hourCycle: 'h23'}) %><% } %>" type="text" placeholder="Time" autocomplete="off" >
                                                <span class="material-input"></span>
                                                </div>
                                                <script>
                                                $(document).ready(function() {
                                                $('#timepicker').datetimepicker({
                                                    datepicker:false,
                                                    format:'H:i',
                                                    });
                                                });										
                                            </script>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-black label-floating">
                                                <label data-l10n-id="lateTurnIn"></label>
                                                <input type="checkbox" class="btn-check" name="lateTurnIn"  id="checkbox-outlined" <% if(typeof assignment == 'object'){ %><% if(assignment.lateTurnIn){ %> checked <% } %><% } %> autocomplete="off" >
                                                <span class="material-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                <% if(typeof classrooms == 'object') { %>
                                <div class="row" id='searchable-select-classrooms-row'>
                                    <div class="col-md-12">
                                        <div class="form-group form-black" style="margin-top: -15px;" >
                                            <label class="control-label" data-l10n-id="classrooms"></label>
                                            <select id='searchable-select-classrooms' multiple='multiple' name="classrooms" class="form-control">
                                                <% for(var i=0; i < classrooms.length; i++) { %>
                                                    <option <% if(classrooms[i].is_member) { %> selected <% } %> value='<%= classrooms[i]._id %>'><%= "class_" + classrooms[i]._id %></option>
                                                <% } %>
                                            </select>
                                            <% for(var i=0; i < classrooms.length; i++) { %>
                                                <div id='<%= "class_" + classrooms[i]._id %>' style="display:none;">
                                                    <div style="height: 35px;">
                                                        <div class="color <%= classrooms[i]._id + '_icon' %>">
                                                            <div class="xo-icon"></div>
                                                        </div>
                                                        <script>
                                                            new icon().loadByClass("/public/img/classroom-icon.svg", (<%- JSON.stringify(classrooms[i].color) %>), "<%= classrooms[i]._id + '_icon' %>");
                                                        </script>
                                                        <div style="padding: 4px 0px 0px 40px;"><%= classrooms[i].name %></div>
                                                    </div>
                                                </div>
                                            <% } %>
                                            <script type="text/javascript">
                                                // run multiSelect
                                                $('#searchable-select-classrooms').multiSelect({
                                                    selectableHeader: "<input type='text' class='form-control' data-l10n-id='doe' autocomplete='off' placeholder='search classroom'>",
                                                    selectionHeader: "<input type='text' class='form-control' data-l10n-id='doe' autocomplete='off' placeholder='search classroom'>",
                                                    afterInit: function(ms){
                                                        var that = this,
                                                            $selectableSearch = that.$selectableUl.prev(),
                                                            $selectionSearch = that.$selectionUl.prev(),
                                                            selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
                                                            selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';
                                                        that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                                                            .on('keydown', function(e){
                                                            if (e.which === 40){
                                                                that.$selectableUl.focus();
                                                                return false;
                                                            }
                                                        });
                                                        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                                                            .on('keydown', function(e){
                                                            if (e.which == 40){
                                                                that.$selectionUl.focus();
                                                                return false;
                                                            }
                                                        });
                                                    },
                                                    afterSelect: function(){
                                                        this.qs1.cache();
                                                        this.qs2.cache();
                                                    },
                                                    afterDeselect: function(){
                                                        this.qs1.cache();
                                                        this.qs2.cache();
                                                    }
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            <% } %>      
                            <% if(typeof classroom == 'object' && classroom.timestamp) { %>
                                <div class="row" id="editClassroom-lastupdated">
                                    <div class="col-md-12">
                                        <div class="form-group form-black label-floating">
                                            <label class="control-label" data-l10n-id="lastUpdated"></label>
                                            <input class="form-control" readonly value="<%= moment(classroom.timestamp).calendar() %>" type="text">
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                            <button class="btn pull-right btn-round" type="submit" data-l10n-id="save"></button>
                            <a class="btn pull-right btn-round" href="/dashboard/assignments" data-l10n-id="cancel"></a>
                            <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
          </div>
    </div>
  </div>
<%- include includes/footer %>

<script>
    var currTour = sugarizerTour("editClassroom", <% if (account.user && account.user.role=="admin") { %> "admin" <% } else { %> "teacher" <% } %>, "<%= mode %>");
    if (!currTour.isFinished()) currTour.start();
</script>
 
