<% include includes/header %>
  <div class="wrapper">
  	<% include includes/sidebar %>
    	<div class="main-panel">
    	<% include includes/navbar %>
    		<div class="content">
    			<div class="container-fluid">
            <div class="col-md-8 col-lg-8 col-sm-12">
              <div class="card">
                <div class="card-content">
                    <% include includes/flash-errors %>
                    <form id="classroom-add-edit-form" method="post" <% if(typeof classroom == 'object'){ %> action="<%= classroom._id %>" <% } %>>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="name"></label>
                                    <input class="form-control" name="name" value="<% if(typeof classroom == 'object'){ %><%= classroom.name %><% } %>" type="text">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black" style="margin-top: -15px;">
                                    <label class="control-label" data-l10n-id="students"></label>
                                    <select id='searchable-select-students' multiple='multiple' name="students" class="form-control">
                                        <% for(var i=0; i < classroom.students.length; i++) { %>
                                            <option <% if(classroom.students[i].is_member) { %> selected <% } %> value='<%= classroom.students[i]._id %>'><%= classroom.students[i].name %></option>
                                        <% } %>
                                    </select>
                                    <script type="text/javascript">
                                        // run multiSelect
                                        $('#searchable-select-students').multiSelect({
                                            selectableHeader: "<input type='text' class='form-control' data-l10n-id='john.placeholder' autocomplete='off' placeholder='search students'>",
                                            selectionHeader: "<input type='text' class='form-control' data-l10n-id='john.placeholder' autocomplete='off' placeholder='search students'>",
                                            afterInit: function(ms){
                                                var that = this,
                                                    $selectableSearch = that.$selectableUl.prev(),
                                                    $selectionSearch = that.$selectionUl.prev(),
                                                    selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
                                                    selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

                                                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                                                    .on('keydown', function(e){
                                                    if (e.which === 40){
                                                        that.$selectableUl.focus();
                                                        return false;
                                                    }
                                                });

                                                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                                                    .on('keydown', function(e){
                                                    if (e.which == 40){
                                                        that.$selectionUl.focus();
                                                        return false;
                                                    }
                                                });
                                            },
                                            afterSelect: function(){
                                                this.qs1.cache();
                                                this.qs2.cache();
                                            },
                                            afterDeselect: function(){
                                                this.qs1.cache();
                                                this.qs2.cache();
                                            }
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="row color_input">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="color"></label>
                                    <select class="form-control" name="color" id="color-select2">
                                        <% for(var i=0; i< xocolors.length; i++){ %>
                                          <% if(typeof classroom == 'object' && typeof classroom.color == 'object' && xocolors[i].stroke == classroom.color.stroke && xocolors[i].fill == classroom.color.fill){ %>
                                            <option selected="selected" data-stroke="<%= xocolors[i].stroke %>" data-fill="<%= xocolors[i].fill %>" value='<%- JSON.stringify(xocolors[i]) %>'></option>
                                          <% }else{ %>
                                            <option data-stroke="<%= xocolors[i].stroke %>" data-fill="<%= xocolors[i].fill %>" value='<%- JSON.stringify(xocolors[i]) %>'></option>
                                          <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="createdTime"></label>
                                    <input class="form-control" readonly value="<% if(typeof classroom == 'object'){ %><%= moment(classroom.created_time).calendar() %><% } %>" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="lastSeen"></label>
                                    <input class="form-control" readonly value="<% if(typeof classroom == 'object'){ %><%= moment(classroom.timestamp).calendar() %><% } %>" type="text">
                                </div>
                            </div>
                        </div>
                        <button class="btn pull-right btn-round" type="submit" data-l10n-id="save"></button>
                        <a class="btn pull-right btn-round" href="/dashboard/classrooms" data-l10n-id="cancel"></a>
                        <div class="clearfix"></div>
                    </form>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% include includes/footer %>