<% include includes/header %>
  <div class="wrapper">
  	<% include includes/sidebar %>
    	<div class="main-panel">
    	<% include includes/navbar %>
    		<div class="content">
    			<div class="container-fluid">
            <div class="col-md-8 col-lg-8 col-sm-12">
              <div class="card">
                <div class="card-content">
                    <% include includes/flash-errors %>
                    <form id="user-add-edit-form" method="post" <% if(typeof user == 'object'){ %> action="<%= user._id %>" <% } %>>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Name</label>
                                    <input class="form-control" name="name" value="<% if(typeof user == 'object'){ %><%= user.name %><% } %>" type="text">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Language</label>
                                    <select class="form-control" name="language">
                                        <option value="en" <% if(typeof user == 'object' &&  user.language=='en'){ %> selected="selected" <% } %>>English</option>
                                        <option value="fr" <% if(typeof user == 'object' &&  user.language=='fr'){ %> selected="selected" <% } %>>French</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Role</label>
                                    <select class="form-control" name="role" onchange="show_user_fields(this.value)">
                                        <option value="admin" <% if(typeof user == 'object' &&  user.role=='admin'){ %> selected="selected" <% } %> >Admin</option>
                                        <option value="student" <% if(typeof user == 'object' &&  user.role=='student'){ %> selected="selected" <% } %> >Student</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row color_input">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Color</label>
                                    <select class="form-control" name="color" id="color-select2">
                                        <% for(var i=0; i< xocolors.length; i++){ %>
                                          <% if(typeof user == 'object' && typeof user.color == 'object' && xocolors[i].stroke == user.color.stroke && xocolors[i].fill == user.color.fill){ %>
                                            <option selected="selected" data-stroke="<%= xocolors[i].stroke %>" data-fill="<%= xocolors[i].fill %>" value='<%- JSON.stringify(xocolors[i]) %>'></option>
                                          <% }else{ %>
                                            <option data-stroke="<%= xocolors[i].stroke %>" data-fill="<%= xocolors[i].fill %>" value='<%- JSON.stringify(xocolors[i]) %>'></option>
                                          <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row admin_password">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Password</label>
                                    <input class="form-control" name="password" value="<% if(typeof user == 'object'){ %><%= user.password %><% } %>" type="text">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row student_password">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Password</label>
                                    <select class="form-control" name="password">
                                        <option value="p1_1">1</option>
                                        <option value="p1_2">2</option>
                                        <option value="p1_3">3</option>
                                        <option value="p1_4">4</option>
                                        <option value="p1_5">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group form-black label-floating">
                                    <select class="form-control" name="password">
                                        <option value="p2_1">1</option>
                                        <option value="p2_2">2</option>
                                        <option value="p2_3">3</option>
                                        <option value="p2_4">4</option>
                                        <option value="p2_5">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group form-black label-floating">
                                    <select class="form-control" name="password">
                                        <option value="p3_1">1</option>
                                        <option value="p3_2">2</option>
                                        <option value="p3_3">3</option>
                                        <option value="p3_4">4</option>
                                        <option value="p3_5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-danger pull-right btn-round" type="submit">Save</button>
                        <a class="btn pull-right btn-round" href="/dashboard/users">Cancel</a>
                        <div class="clearfix"></div>
                    </form>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% include includes/footer %>
<script>
function show_user_fields(val) {
  if(val == 'student'){
    $('.admin_password').addClass('hide');
    $('.student_password').removeClass('hide');
    $('.color_input').removeClass('hide');
    $('.admin_password input').attr('disabled', '');
    $('.color_input input').removeAttr('disabled');
    $('.student_password select').removeAttr('disabled');

  }else{
    $('.admin_password').removeClass('hide');
    $('.student_password').addClass('hide');
    $('.color_input').addClass('hide');
    $('.color_input input').attr('disabled', '');
    $('.student_password select').attr('disabled', '');
    $('.admin_password input').removeAttr('disabled');
  }
}
show_user_fields('<% if(typeof user == "object"){ %><%= user.role %><% } %>')
</script>
