<%- include includes/header %>
  <div class="wrapper">
  	<%- include includes/sidebar %>
    	<div class="main-panel">
    	<%- include includes/navbar %>
    		<div class="content">
    			<div class="container-fluid">
            <div class="col-md-8 col-lg-8 col-sm-12">
              <div class="card">
                <div class="card-content">
                    <%- include includes/flash-errors %>
                    <form id="user-add-edit-form" method="post" <% if(typeof user == 'object' && module =="profile"){ %> action="/dashboard/profile" <% } else if (typeof user == 'object') { %> action="<%= user._id %>" <% } %>>
                        <div class="row" id="editUser-name">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="name"></label>
                                    <input class="form-control" name="name" value="<% if(typeof user == 'object'){ %><%= user.name %><% } %>" type="text">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="editUser-language">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="language"></label>
                                    <select id="language-select" name="language" class="form-control">
                                        <option value="en" data-l10n-id="english" <% if(typeof user == 'object' &&  user.language=='en'){ %> selected="selected" <% } %>>English</option>
                                        <option value="es" data-l10n-id="spanish" <% if(typeof user == 'object' &&  user.language=='es'){ %> selected="selected" <% } %>>Spanish</option>
                                        <option value="fr" data-l10n-id="french" <% if(typeof user == 'object' &&  user.language=='fr'){ %> selected="selected" <% } %>>French</option>
                                        <option value="de" data-l10n-id="german" <% if(typeof user == 'object' &&  user.language=='de'){ %> selected="selected" <% } %>>German</option>
                                        <option value="pt" data-l10n-id="portuguese" <% if(typeof user == 'object' &&  user.language=='pt'){ %> selected="selected" <% } %>>Portuguese</option>
                                        <option value="ar" data-l10n-id="arabic" <% if(typeof user == 'object' &&  user.language=='ar'){ %> selected="selected" <% } %>>Arabic</option>
                                        <option value="ja" data-l10n-id="japanese" <% if(typeof user == 'object' &&  user.language=='ja'){ %> selected="selected" <% } %>>Japanese</option>
                                        <option value="pl" data-l10n-id="polish" <% if(typeof user == 'object' &&  user.language=='pl'){ %> selected="selected" <% } %>>Polish</option>
                                        <option value="ibo" data-l10n-id="igbo" <% if(typeof user == 'object' &&  user.language=='ibo'){ %> selected="selected" <% } %>>Igbo</option>
                                        <option value="yor" data-l10n-id="yoruba" <% if(typeof user == 'object' &&  user.language=='yor'){ %> selected="selected" <% } %>>Yoruba</option>
                                        <option value="hi" data-l10n-id="hindi" <% if(typeof user == 'object' &&  user.language=='hi'){ %> selected="selected" <% } %>>Hindi</option>
                                    </select>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <% if (module != "profile") { %>
                        <div class="row" id="editUser-role">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="role"></label>
                                    <select class="form-control" name="role" onchange="show_user_fields(this.value)" <% if (mode == "edit") { %> disabled <% } %> >
                                        <option data-l10n-id="student" value="student" <% if(typeof user == 'object' &&  user.role=='student'){ %> selected="selected" <% } %> >Student</option>
                                        <% if (account.user && account.user.role=="admin") { %>
                                        <option data-l10n-id="teacher" value="teacher" <% if(typeof user == 'object' &&  user.role=='teacher'){ %> selected="selected" <% } %> >Teacher</option>
                                        <option data-l10n-id="admin" value="admin" <% if(typeof user == 'object' &&  user.role=='admin'){ %> selected="selected" <% } %> >Admin</option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <div class="row color_input" id="editUser-colors">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="color"></label>
                                    <select class="form-control" name="color" id="color-select2">
                                        <% if(typeof user == "undefined") var random=Math.floor(Math.random()*xocolors.length); %>
                                        <% for(var i=0; i< xocolors.length; i++){ %>
                                          <% if(typeof user == 'object' && (typeof user.color == 'object' && xocolors[i].stroke == user.color.stroke && xocolors[i].fill == user.color.fill) || (random == i)) { %>
                                            <option selected="selected" data-stroke="<%= xocolors[i].stroke %>" data-fill="<%= xocolors[i].fill %>" value='<%- JSON.stringify(xocolors[i]) %>'></option>
                                          <% }else{ %>
                                            <option data-stroke="<%= xocolors[i].stroke %>" data-fill="<%= xocolors[i].fill %>" value='<%- JSON.stringify(xocolors[i]) %>'></option>
                                          <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="editUser-password">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="password"></label>
                                    <input class="form-control" name="password" id="password" value="<% if(typeof user == 'object'){ %><%= user.password %><% } %>" type="text" oninput="document.getElementById('passemoji').innerHTML = getHtmlForEmoji(document.getElementById('password').value);">
                                    <span class="form-control emojis" id="passemoji"><%- (typeof user == 'object') ? emoji.getHtml(user.password) : '' %></span>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                            <div class="row" id="editUser-twoFactor">
                                <% if (typeof user == 'object' && (typeof user.tfa === "undefined" || user.tfa === false)) { %>
                                <div class="col-md-12">
                                <input type="checkbox" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off" disabled>
                                <label data-l10n-id="2FA"></label>
                                </div>
                                <% } %>
                                <% if (typeof user == 'object' && user.tfa === true) { %>
                                    <div class="col-md-12">
                                        <input type="checkbox" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off" checked disabled>
                                        <label data-l10n-id="2FA"></label>
                                    </div>
                                <% } %>
                            </div>
                        <% if(typeof classrooms == 'object' && module != "profile") { %>
                        <div class="row" id='searchable-select-classrooms-row'>
                            <div class="col-md-12">
                                <div class="form-group form-black" style="margin-top: -15px;" >
                                    <label class="control-label" data-l10n-id="classrooms"></label>
                                    <select id='searchable-select-classrooms' multiple='multiple' name="classrooms" class="form-control">
                                        <% for(var i=0; i < classrooms.length; i++) { %>
                                            <option <% if(classrooms[i].is_member) { %> selected <% } %> value='<%= classrooms[i]._id %>'><%= "class_" + classrooms[i]._id %></option>
                                        <% } %>
                                    </select>
                                    <% for(var i=0; i < classrooms.length; i++) { %>
                                        <div id='<%= "class_" + classrooms[i]._id %>' style="display:none;">
                                            <div style="height: 35px;">
                                                <div class="color <%= classrooms[i]._id + '_icon' %>">
                                                    <div class="xo-icon"></div>
                                                </div>
                                                <script>
                                                    new icon().loadByClass("/public/img/classroom-icon.svg", (<%- JSON.stringify(classrooms[i].color) %>), "<%= classrooms[i]._id + '_icon' %>");
                                                </script>
                                                <div style="padding: 4px 0px 0px 40px;"><%= classrooms[i].name %></div>
                                            </div>
                                        </div>
                                    <% } %>
                                    <script type="text/javascript">
                                        // run multiSelect
                                        $('#searchable-select-classrooms').multiSelect({
                                            selectableHeader: "<input type='text' class='form-control' data-l10n-id='doe' autocomplete='off' placeholder='search classroom'>",
                                            selectionHeader: "<input type='text' class='form-control' data-l10n-id='doe' autocomplete='off' placeholder='search classroom'>",
                                            afterInit: function(ms){
                                                var that = this,
                                                    $selectableSearch = that.$selectableUl.prev(),
                                                    $selectionSearch = that.$selectionUl.prev(),
                                                    selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
                                                    selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

                                                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                                                    .on('keydown', function(e){
                                                    if (e.which === 40){
                                                        that.$selectableUl.focus();
                                                        return false;
                                                    }
                                                });

                                                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                                                    .on('keydown', function(e){
                                                    if (e.which == 40){
                                                        that.$selectionUl.focus();
                                                        return false;
                                                    }
                                                });
                                            },
                                            afterSelect: function(){
                                                this.qs1.cache();
                                                this.qs2.cache();
                                            },
                                            afterDeselect: function(){
                                                this.qs1.cache();
                                                this.qs2.cache();
                                            }
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <% if (typeof user == 'object' && user.created_time) { %>
                        <div class="row" id="editUser-created">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="createdTime"></label>
                                    <input class="form-control" readonly value="<%= moment(user.created_time).calendar() %>" type="text">
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <% if (typeof user == 'object' && user.timestamp) { %>
                        <div class="row" id="editUser-lastseen">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label" data-l10n-id="lastSeen"></label>
                                    <input class="form-control" readonly value="<%= moment(user.timestamp).calendar() %>" type="text">
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <button class="btn pull-right btn-round" type="submit" data-l10n-id="save"></button>
                        <a class="btn pull-right btn-round" <% if (module=="profile") { %> href="/dashboard/profile" <% } else if (typeof user == 'object' && typeof user.role == 'string') { %>href="/dashboard/users?role=<%= user.role %>"<% } else { %> href="/dashboard/users" <% } %> data-l10n-id="cancel"></a>
                        <div class="clearfix"></div>
                    </form>
                        <% if (typeof user=='object' && (account.user.role=="admin" || account.user.role=="teacher") && module=="profile" && (typeof user.tfa==="undefined" || user.tfa===false)) { %>
                            <div class="form-group col-12 text-center">
                                <a class="btn btn-align btn pull-left btn-round" data-l10n-id="enable2FA" style="margin-top: -63px;"
                                href="/dashboard/profile/enable2FA"></a>
                            </div>
                            <% } else if(typeof user=='object' && (account.user.role=="admin" || account.user.role=="teacher") && module=="profile" && user.tfa===true) { %>
                                <form action="/dashboard/profile/disable2FA" method="POST">
                                    <div class="form-group col-12 text-center">
                                            <button class="btn btn pull-left btn-align btn-round" data-l10n-id="disable2FA" style="margin-top: -68px;"
                                                onclick="return confirm(document.webL10n.get('DoYouWantToDisable2FA', {name: '<%= user.name %>'}))"
                                                type="submit"></button>
                                    </div>
                                </form>
                                <% } %>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include includes/footer %>
<script>
function show_user_fields(val) {
    var adminLang = ["en", "es", "fr", "hi"];
    var studentLang = ["en", "es", "fr", "de", "pt", "ar", "ja", "pl", "ibo", "yor"];
    var teachLang = ["en", "es", "fr", "de", "pt", "ar", "ja", "pl", "ibo", "yor", "hi"];
    var selectedLang = document.getElementById("language-select").value;
    var op = document.getElementById("language-select").options;

    if (val == 'admin') {
        $('.color_input').addClass('hide');
        $('.color_input input').attr('disabled', '');

        for (var i = 0; i < op.length; i++) {
            if (adminLang.includes(op[i].value)) {
                op[i].disabled = false;
                op[i].style.display = "block";    
            } else {
                op[i].disabled = true;
                op[i].style.display = "none";
            }
        }
        if (!adminLang.includes(selectedLang)) {
            document.getElementById("language-select").value = "en";
        }
    } else {
        $('.color_input').removeClass('hide');
        $('.color_input input').removeAttr('disabled');
    }
    if (val == 'teacher' || val == 'student' || !val) {
        $('#searchable-select-classrooms-row').removeClass('hide');

        if (val == 'teacher') {
            for (var i = 0; i < op.length; i++) {
                if (teachLang.includes(op[i].value)) {
                    op[i].disabled = false;
                    op[i].style.display = "block";    
                } else {
                    op[i].disabled = true;
                    op[i].style.display = "none";
                }
            }
            if (!teachLang.includes(selectedLang)) {
                document.getElementById("language-select").value = "en";
            }
        } else {
            for (var i = 0; i < op.length; i++) {
                if (studentLang.includes(op[i].value)) {
                    op[i].disabled = false;
                    op[i].style.display = "block";    
                } else {
                    op[i].disabled = true;
                    op[i].style.display = "none";
                }
            }
            if (!studentLang.includes(selectedLang)) {
                document.getElementById("language-select").value = "en";
            }
        }
    } else {
        $('#searchable-select-classrooms-row').addClass('hide');
    }
}
show_user_fields('<% if(typeof user == "object"){ %><%= user.role %><% } %>')

var currTour = sugarizerTour("editUser", <% if (account.user && account.user.role=="admin") { %> "admin" <% } else { %> "teacher" <% } %>, "<%= mode %>");
if (!currTour.isFinished()) currTour.start();
</script>
