<%- include includes/header %>

<div class="wrapper">
    <%- include includes/sidebar%>
    <%= server.name%>
   
    <h1>Welcome to <%=name%></h1>
    <%=message%>
</div>
<%- include includes/footer %>