<%- include includes/header %>
<div class="wrapper">
	<%- include includes/sidebar %>
	<div class="main-panel">
	<%- include includes/navbar %>
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="card card-stats">
							<div class="card-header" data-background-color="black">
								<p class="custom-icon xo-icon"></p>
							</div>
							<div class="card-content">
								<p class="category" data-l10n-id="users">Users</p>
								<h3 class="title"><%= data.users.total %></h3>
							</div>
							<div class="card-footer">
								<div class="stats">
									<a href="/dashboard/users" data-l10n-id="viewAllUsers">View all users</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="card card-stats">
							<div class="card-header" data-background-color="black">
								<p class="custom-icon activity-icon"></p>
							</div>
							<div class="card-content">
								<p class="category" data-l10n-id="activities">Activities</p>
								<h3 class="title"><%= data.activities.length %></h3>
							</div>
							<div class="card-footer">
								<div class="stats">
									<a href="/dashboard/activities" data-l10n-id="viewAllActivities">View all activities</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="card card-stats">
							<div class="card-header" data-background-color="black">
								<p class="custom-icon journal-icon"></p>
							</div>
							<div class="card-content">
								<p class="category" data-l10n-id="journals">Journal</p>
								<h3 class="title"><%= data.journal.totalEntries %></h3>
							</div>
							<div class="card-footer">
								<div class="stats">
									<a href="/dashboard/journal" data-l10n-id="viewAllJournal">View all journal entries</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="card card-stats">
							<div class="card-header" data-background-color="black">
								<p class="custom-icon classroom-icon"></p>
							</div>
							<div class="card-content">
								<p class="category" data-l10n-id="classrooms">Classrooms</p>
								<h3 class="title"><%= data.classrooms.total %></h3>
							</div>
							<div class="card-footer">
								<div class="stats">
									<a href="/dashboard/classrooms" data-l10n-id="viewAllClassrooms">View all classrooms</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="card" style="margin-top:0px;">
							<div class="card-content">
								<p class="title text-muted" data-l10n-id="TopContributors"></p>
								<canvas onload="" id="top-contributor-chart" width="400" height="250"></canvas>
							</div>
							<div class="card-footer">
								<div class="stats">
									<a href="/dashboard/users" data-l10n-id="viewAllUsers">View all users</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card" style="margin-top:0px;">
							<div class="card-content">
								<p class="title text-muted" data-l10n-id="TopActivities"></p>
								<canvas id="top-activities-chart" width="400" height="250"></canvas>
							</div>
							<div class="card-footer">
								<div class="stats">
									<a href="/dashboard/activities" data-l10n-id="viewAllActivities">View all activities</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="card" style="margin-top:0px;">
							<div class="card-content">
								<p class="title text-muted" data-l10n-id="RecentUsers"></p>
								<table class="table table-hover" id="recent-users-table">
                    <thead>
                        <tr>
                            <th>#</th>
														<th data-l10n-id="icon">Icon</th>
                            <th data-l10n-id="name">Name</th>
                            <th data-l10n-id="timestamp">Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card" style="margin-top:0px;">
							<div class="card-content">
								<p class="title text-muted" data-l10n-id="RecentEntries"></p>
								<table class="table table-hover"  id="recent-activities-table">
                    <thead>
                        <tr>
                            <th>#</th>
														<th data-l10n-id="icon">Icon</th>
                            <th data-l10n-id="name">Name</th>
														<th data-l10n-id="timestamp">Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include includes/footer %>

<script>createGraph('top-contributor', 'top-contributor-chart');</script>
<script>createGraph('top-activities', 'top-activities-chart');</script>
<script>createTable('recent-activities', 'recent-activities-table');</script>
<script>createTable('recent-users', 'recent-users-table');</script>
