<%- include includes/header %>
<div class="wrapper">
	<%- include includes/sidebar %>
	<div class="main-panel">
	<%- include includes/navbar %>
		<div class="content">
			<div class="container-fluid">
				<%- include includes/flash-errors %>
				<div class="row">
					<div class="card" id="journal-search-card">
							<form method="get" action="" id="getJournalEntries">
								<div class="col-md-4">
									<div class="form-group form-black label-floating is-empty">
											<select class="form-control" id="users-select2" name="uid">
												<% if(user && user._id){%>
												 <option data-id="<%= user._id %>"
													 data-private_journal="<%= user.private_journal %>"
													 data-shared_journal="<%= user.shared_journal %>"
													 selected="selected"
													 data-color='<%- JSON.stringify(user.color) %>'
													 data-timestamp="<%= moment(user.timestamp).calendar() %>"
													 value="<%= user._id %>">
													 <%- (user.name.replace(/[&<>]/g, "")) %>
												 </option>
												<% } %>
											</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group form-black journal-check">
										<input type="checkbox" id="journal-type" onclick="changeJournalType()">
										<label for="journal-type" data-l10n-id="sharedJournals"></label>
										<script>
											function changeJournalType() {
												var checkBox = document.getElementById("journal-type");
												if (checkBox.checked == true) {
													$('#users-select2').val(null).trigger('change');
													$('#users-select2').prop('disabled', 'disabled');
													$('#getJournalEntries').attr('action', '/dashboard/journal/<%= shared %>');
												} else {
													$('#users-select2').prop('disabled', false);
													$('#getJournalEntries').attr('action', '/dashboard/journal/' + document.pj_global);
												}
											}
											if (window.location.pathname.substring(19) == '<%= shared %>') {
												var checkBox = document.getElementById("journal-type");
												checkBox.setAttribute("checked", "true");
												changeJournalType();
											}
										</script>
									</div>
								</div>
								<div class="col-md-4 text-right">
									<% if (query && query.journal) { %>
										<div class="upload-btn-wrapper pull-right" id="journal-deleteMultiple">
											<a href="#" onclick="deleteMultipleEntries()" class="btn btn-round" data-l10n-id="multidelete" title="Delete Multiple"><i class="material-icons text-muted">delete_forever</i></a>
										</div>
										<div class="upload-btn-wrapper pull-right" id="journal-downloadMultiple">
											<a href="#" onclick="downloadMultipleEntries()" class="btn btn-round" data-l10n-id="multidownload" title="Download Multiple"><i class="material-icons text-muted">cloud_download</i></a>
										</div>
										<div class="upload-btn-wrapper pull-right" id="journal-uploadJournal">
											<input id="uploadJournal" type="file" <% if(user && user._id) { %>onchange='upload_journal(this.files, <%- JSON.stringify(query.journal) %>, <%- JSON.stringify(user.name) %>, <%- JSON.stringify(user._id) %>, <%- JSON.stringify(user.color) %>)' /><% } else if (account.user) { %>onchange='upload_journal(this.files, <%- JSON.stringify(query.journal) %>, <%- JSON.stringify(account.user.name) %>, <%- JSON.stringify(account.user._id) %><% if (account.user.color) { %>, <%- JSON.stringify(account.user.color) %><% } %>)' /><% } %>
											<a href="#" onclick="$('#uploadJournal').trigger('click'); return false;" class="btn btn-round" data-l10n-id="uploadJournal" title="Upload Journal"><i class="material-icons text-muted">cloud_upload</i></a>
										</div>
									<% } %>
									<button class="btn pull-right btn-round" type="submit" data-l10n-id="showResults"><div class="ripple-container"></div></button>
								</div>
							</form>
					</div>
				</div>
				<div class="row">
	        <div class="col-md-12 col-lg-12 col-sm-12">
						<% if(query.uid == -1) { %>
							<div class="text-center" style="margin-top:50px;">
								<i class="material-icons dp96">info_outline</i>
								<p data-l10n-id="selectUserText"></p>
							</div>
						<% } else if(entries.entries.length == 0) { %>
							<div class="text-center" style="margin-top:50px;">
								<i class="material-icons dp96">info_outline</i>
								<p data-l10n-id="noEntryText"></p>
							</div>
						<% } else { %>
						<div class="card" id="journal-cards-parent">
								<div class="card-header row" data-background-color="">
										<div class="col-md-4 col-sm-4 col-lg-4 text-left">
										<% if(entries.links.prev_page) { %>
											 <a data-l10n-id="prevPage" class="page-button" href="<%= query.journal %><%= entries.links.prev_page %>&type=<%= query.type %>"><< Prev page</a>
										<% } %>
										</div>
										<div class="col-md-4 col-sm-4 col-lg-4 text-center" data-l10n-id="showingResults" data-l10n-args='{ "offset": "<%= entries.offset + 1 %>", "to": "<%= entries.offset + entries.entries.length %>", "total": "<%= entries.total %>" }'></div>
										<div class="col-md-4 col-sm-4 col-lg-4 text-right">
										<% if(entries.links.next_page) { %>
											 <a data-l10n-id="nextPage" class="page-button" href="<%= query.journal %><%= entries.links.next_page %>&type=<%= query.type %>">Next page >></a>
										<% } %>
										</div>
								</div>
								<div class="card-content table-responsive">
										<table class="table">
												<thead class="text-danger">
														<tr>
																<th class="text-muted"><input type="checkbox" id="checkAll" onclick="checkAll()"></th>
																<th class="text-muted">#</th>
																<th data-l10n-id="icon" class="text-muted"></th>
																<th class="text-muted"><button data-l10n-id="title" id="journal-title" onclick="sortBy('title')"></button></th>
																<th class="text-muted"><button data-l10n-id="timestamp" id="last-column" onclick="sortBy('time')"></button></th>
																<th class="text-muted"><button data-l10n-id="size" id="journal-size" onclick="sortBy('size')"></button></th>
																<th data-l10n-id="action" class="text-muted"></th>
														</tr>
												</thead>
												<tbody>
														<% for(var i=0; i < entries.entries.length; i++) { %>
															<tr id="journal-entry-card">
																	<td><input type="checkbox" class="journal-checkbox" jid="<%= query.journal %>" oid="<%= entries.entries[i].objectId %>" uid="<%= entries.entries[i].metadata.user_id %>" aid="<%= entries.entries[i].metadata.activity %>" currPage="<%= entries.links.curr_page %>" title="<%= entries.entries[i].metadata.title %>"></td>
																	<td><%= entries.offset + i + 1 %></td>
																	<td>
																		<div class="color" id="<%= entries.entries[i].objectId %>">
																			<div class="xo-icon"></div>
																		</div>
																	</td>
																	<script>
																		<% if (entries.entries[i].metadata.mimetype == "text/plain") { %>
																			new icon().load("<%= iconList[entries.entries[i].metadata.activity] || '/public/img/application-x-txt.svg' %>", (<%- JSON.stringify(entries.entries[i].metadata.buddy_color?entries.entries[i].metadata.buddy_color:{stroke_color:"#005FE4",fill_color:"#FF2B34"}) %>), "<%= entries.entries[i].objectId %>");
																		<% } else if (entries.entries[i].metadata.mimetype == "application/pdf") { %>
																			new icon().load("<%= iconList[entries.entries[i].metadata.activity] || '/public/img/application-x-pdf.svg' %>", (<%- JSON.stringify(entries.entries[i].metadata.buddy_color?entries.entries[i].metadata.buddy_color:{stroke_color:"#005FE4",fill_color:"#FF2B34"}) %>), "<%= entries.entries[i].objectId %>");
																		<% } else if (entries.entries[i].metadata.mimetype == "application/msword") { %>
																			new icon().load("<%= iconList[entries.entries[i].metadata.activity] || '/public/img/application-x-doc.svg' %>", (<%- JSON.stringify(entries.entries[i].metadata.buddy_color?entries.entries[i].metadata.buddy_color:{stroke_color:"#005FE4",fill_color:"#FF2B34"}) %>), "<%= entries.entries[i].objectId %>");
																		<% } else if (entries.entries[i].metadata.mimetype == "application/vnd.oasis.opendocument.text") { %>
																			new icon().load("<%= iconList[entries.entries[i].metadata.activity] || '/public/img/application-x-odt.svg' %>", (<%- JSON.stringify(entries.entries[i].metadata.buddy_color?entries.entries[i].metadata.buddy_color:{stroke_color:"#005FE4",fill_color:"#FF2B34"}) %>), "<%= entries.entries[i].objectId %>");
																		<% } else {%>
																			new icon().load("<%= iconList[entries.entries[i].metadata.activity] || '/public/img/application-x-generic.svg' %>", (<%- JSON.stringify(entries.entries[i].metadata.buddy_color?entries.entries[i].metadata.buddy_color:{stroke_color:"#005FE4",fill_color:"#FF2B34"}) %>), "<%= entries.entries[i].objectId %>");
																		<% } %>
																	</script>
																	<td><%= entries.entries[i].metadata.title %></td>
																	<td><%= moment(entries.entries[i].metadata.timestamp).calendar() %></td>
																	<% var size = entries.entries[i].metadata.textsize %>
																	<% var format = "" %>
																	<%  if(size > 1048576){
																		size=(size/1024/1024).toFixed()
																		format="MB"
																	}
																	else if(size > 1024){
																		size=(size/1024).toFixed()
																		format="KB"
																	}
																	else if(!size){
																		format="-"
																	}
																	else{
																		format="Bytes"
																	}
																	 %>
																	<td id="size"><% if(size>0) {%><%= size %><%}%> 
																		<% if(format=="Bytes") {%> <div style="display: inline" data-l10n-id="ShortForBytes"></div> <%}%>
																		<% if(format=="KB") {%> <div style="display: inline" data-l10n-id="ShortForKilobytes"></div> <%}%>
																		<% if(format=="MB") {%> <div style="display: inline" data-l10n-id="ShortForMegabytes"></div> <%}%>
																		<% if(format=="-") {%> <div style="display: inline"><%= format %></div> <%}%>
																	</td>
																	<td>
																		<a id="journal-activity-launch" href="javascript:launch_activity('/dashboard/activities/launch/<%= query.journal %>?oid=<%= entries.entries[i].objectId %>&source=journal&uid=<%= entries.entries[i].metadata.user_id %>&aid=<%= entries.entries[i].metadata.activity %>&mode=launch')" data-l10n-id="launch" title="Launch"><i class="material-icons text-muted">launch</i></a>
																		<a id="journal-activity-download" href="javascript:download_activity('/dashboard/activities/launch/<%= query.journal %>?oid=<%= entries.entries[i].objectId %>&source=journal&uid=<%= entries.entries[i].metadata.user_id %>&aid=<%= entries.entries[i].metadata.activity %>&mode=download')" data-l10n-id="download" title="Download"><i class="material-icons text-muted">cloud_download</i></a>
																		<a id="journal-activity-delete" data-l10n-id="deleteEntry" title="Delete Entry" href="/dashboard/journal/<%= query.journal %>/delete/<%= entries.entries[i].objectId %><%= entries.links.curr_page %>&title=<%= entries.entries[i].metadata.title %>" onclick="return confirm(document.webL10n.get('DoYouWantDeleteEntry', {activity:`<%= entries.entries[i].metadata.title %>`}))"><i class="material-icons text-muted">delete_forever</i></a>
																	</td>
															</tr>
														<% } %>
												</tbody>
										</table>
								</div>
						</div>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include includes/footer %>
<script>
	//set headers
	var headers = <%- JSON.stringify(headers) %>;

	handleSort();
	var journalList = document.getElementById("journal-cards-parent");
	if (!journalList) {
		var currTour = sugarizerTour("journal1", <% if (account.user && account.user.role=="admin") {"admin"} else {"teacher"} %>);
 		if (!currTour.isFinished()) currTour.start();
	} else {
		var currTour = sugarizerTour("journal2", <% if (account.user && account.user.role=="admin") {"admin"} else {"teacher"} %>);
 		if (!currTour.isFinished()) currTour.start();
	}
</script>
