<% include includes/header %>
<div class="wrapper">
	<% include includes/sidebar %>
	<div class="main-panel">
	<% include includes/navbar %>
		<div class="content">
			<div class="container-fluid">
				<% include includes/flash-errors %>
				<div class="row">
					<div class="card">
							<form method="get" action="" id="getJournalEntries">
								<div class="col-md-4">
									<div class="form-group form-black label-floating is-empty">
											<select class="form-control" id="users-select2" name="uid">
												 <% for(var i=0; i< users.length; i++) { %>
												 <option data-id="<%= users[i]._id %>"
													 data-private_journal="<%= users[i].private_journal %>"
													 data-shared_journal="<%= users[i].shared_journal %>"
													 <% if(users[i]._id == query.uid){%> selected="selected" <% } %>
													 data-color='<%- JSON.stringify(users[i].color) %>'
													 data-timestamp="<%= moment(users[i].timestamp).calendar() %>"
													 value="<%= users[i]._id %>">
													 <%- (users[i].name.replace(/[&<>]/g, "")) %>
												 </option>
												 <% } %>
											</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group form-black label-floating is-empty">
											<select class="form-control" id="journal-type-select2" name="type">
												 <option data-l10n-id="private" <% if('private' == query.type){%> selected="selected" <% } %> value="private">Private</option>
	 											 <option data-l10n-id="shared" <% if('shared' == query.type){%> selected="selected" <% } %> value="shared">Shared</option>
											</select>
									</div>
								</div>
								<div class="col-md-4 text-right">
									<button class="btn btn-round" type="submit" onclick="sess_forget();" data-l10n-id="showResults"><div class="ripple-container"></div></button>
								</div>
								<script>
								window.addEventListener('localized', function() {  // HACK: Force localization of selected field
									var selection = document.getElementsByClassName("select2-selection__rendered");
									if (selection && selection[1] && typeof selection[1].innerHTML == "string") {
										var journal_select_type = document.getElementById("journal-type-select2");
										var val = journal_select_type.options[journal_select_type.selectedIndex].value;
										selection[1].innerHTML = document.webL10n.get(val);
									}
								});
								</script>
							
					</div>
					<input type="text" name="sort" id="sort" style="display: none">
				</div>
				<div class="row">
	        <div class="col-md-12 col-lg-12 col-sm-12">
						<% if(query.uid == -1) { %>
							<div class="text-center" style="margin-top:50px;">
								<i class="material-icons dp96">info_outline</i>
								<p data-l10n-id="selectUserText"></p>
							</div>
						<% } else if(entries.entries.length == 0) { %>
							<div class="text-center" style="margin-top:50px;">
								<i class="material-icons dp96">info_outline</i>
								<p data-l10n-id="noEntryText"></p>
							</div>
						<% } else { %>
						<div class="card">
								<div class="card-header row" data-background-color="">
										<div class="col-md-4 col-sm-4 col-lg-4 text-left">
										<% if(entries.links.prev_page) { %>
											 <a data-l10n-id="prevPage" id="page" href="<%= query.journal %><%= entries.links.prev_page %>&type=<%= query.type %>"><< Prev page</a>
										<% } %>
										</div>
										<div class="col-md-4 col-sm-4 col-lg-4 text-center" data-l10n-id="showingResults" data-l10n-args='{ "offset": "<%= entries.offset + 1 %>", "to": "<%= entries.offset + entries.entries.length %>", "total": "<%= entries.total %>" }'></div>
										<div class="col-md-4 col-sm-4 col-lg-4 text-right">
										<% if(entries.links.next_page) { %>
											 <a data-l10n-id="nextPage" id="page" href="<%= query.journal %><%= entries.links.next_page %>&type=<%= query.type %>">Next page >></a>
										<% } %>
										</div>
								</div>
								<div class="card-content table-responsive">
										<table class="table">
												<thead class="text-danger">
														<tr>
																<th class="text-muted">#</th>
																<th data-l10n-id="icon" class="text-muted"></th>
																<th data-l10n-id="title" class="text-muted"></th>
																<th class="text-muted"><button data-l10n-id="timestamp" id="journal-last"></button></th>
																<th class="text-muted"><button data-l10n-id="size" id="journal-size"></button></th>
																<th data-l10n-id="action" class="text-muted"></th>
														</tr>
													</form>
												</thead>
												<tbody>
														<% for(var i=0; i < entries.entries.length; i++) { %>
															<tr>
																	<td><%= entries.offset + i + 1 %></td>
																	<td>
																		<div class="color" id="<%= entries.entries[i].objectId %>">
																			<div class="xo-icon"></div>
																		</div>
																	</td>
																	<script>
																		new icon().load("<%= iconList[entries.entries[i].metadata.activity] || '/public/img/application-x-generic.svg' %>", (<%- JSON.stringify(entries.entries[i].metadata.buddy_color?entries.entries[i].metadata.buddy_color:{stroke_color:"#005FE4",fill_color:"#FF2B34"}) %>), "<%= entries.entries[i].objectId %>");
																	</script>
																	<td><%= entries.entries[i].metadata.title %></td>
																	<td><%= moment(entries.entries[i].metadata.timestamp).calendar() %></td>
																	<% var size = entries.entries[i].metadata.textsize %>
																	<% var format = "" %>
																	<%  if(size > 1048576){
																		size=(size/1024/1024).toFixed()
																		format="MB"
																	}
																	else if(size > 1024){
																		size=(size/1024).toFixed()
																		format="KB"
																	}
																	else if(!size){
																		format="-"
																	}
																	else{
																		format="Bytes"
																	}
																	 %>
																	<td id="size"><% if(size>0) {%><%= size %><%}%> 
																		<% if(format=="Bytes") {%> <div style="display: inline" data-l10n-id="ShortForBytes"></div> <%}%>
																		<% if(format=="KB") {%> <div style="display: inline" data-l10n-id="ShortForKilobytes"></div> <%}%>
																		<% if(format=="MB") {%> <div style="display: inline" data-l10n-id="ShortForMegabytes"></div> <%}%>
																		<% if(format=="-") {%> <div style="display: inline"><%= format %></div> <%}%>
																	</td>
																	<td>
																		<a href="javascript:launch_activity('/dashboard/activities/launch/<%= query.journal %>?oid=<%= entries.entries[i].objectId %>&source=journal&uid=<%= entries.entries[i].metadata.user_id %>&aid=<%= entries.entries[i].metadata.activity %>')" data-l10n-id="launch" title="Launch"><i class="material-icons text-muted">launch</i></a>
																		<a data-l10n-id="deleteEntry" title="Delete Entry" href="/dashboard/journal/<%= query.journal %>/delete/<%= entries.entries[i].objectId %><%= entries.links.curr_page %>&title=<%= entries.entries[i].metadata.title %>" onclick="return confirm(document.webL10n.get('DoYouWantDeleteEntry', {activity:`<%= entries.entries[i].metadata.title %>`}))"><i class="material-icons text-muted">delete_forever</i></a>
																	</td>
															</tr>
														<% } %>
												</tbody>
										</table>
								</div>
						</div>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include includes/footer %>
<script>
	document.getElementById("journal-size").addEventListener("click",function(){
		sessionStorage.removeItem("journal-last-count");
		if(sessionStorage.getItem("journal-size-count")!=null){
			var user_name_count = sessionStorage.getItem("journal-size-count");
			user_name_count++;
			if(user_name_count==1){
				document.getElementById("sort").setAttribute("value","");
				sessionStorage.setItem("journal-size-count",1);
				sessionStorage.setItem("cur","journal-size-none");
			}
			else if(user_name_count==2){
				document.getElementById("sort").setAttribute("value","+textsize");
				sessionStorage.setItem("journal-size-count",2);
				sessionStorage.setItem("cur","journal-size-up");
			} else if(user_name_count==3){
				document.getElementById("sort").setAttribute("value","-textsize");
				sessionStorage.setItem("journal-size-count",0);
				sessionStorage.setItem("cur","journal-size-down");
			}
		} else{
			sessionStorage.setItem("journal-size-count",2);
			document.getElementById("sort").setAttribute("value","+textsize");
			sessionStorage.setItem("cur","journal-size-up");
		}
		

	});
	document.getElementById("journal-last").addEventListener("click",function(){
		sessionStorage.removeItem("journal-size-count");
		if(sessionStorage.getItem("journal-last-count")!=null){
			var user_name_count = sessionStorage.getItem("journal-last-count");
			user_name_count++;
			if(user_name_count==1){
				document.getElementById("sort").setAttribute("value","");
				sessionStorage.setItem("journal-last-count",1);
				sessionStorage.setItem("cur","journal-last-none");
			}
			else if(user_name_count==2){
				document.getElementById("sort").setAttribute("value","+timestamp");
				sessionStorage.setItem("journal-last-count",2);
				sessionStorage.setItem("cur","journal-last-up");
			} else if(user_name_count==3){
				document.getElementById("sort").setAttribute("value","-timestamp");
				sessionStorage.setItem("journal-last-count",0);
				sessionStorage.setItem("cur","journal-last-down");
			}
		} else{
			sessionStorage.setItem("journal-last-count",2);
			document.getElementById("sort").setAttribute("value","+timestamp");
			sessionStorage.setItem("cur","journal-last-up");
		}

	});

	var page = document.getElementById("page");
        if(page!=null){
            document.getElementById("page").addEventListener("click",function(){
                if((sessionStorage.getItem("rem")!=null)&&(sessionStorage.getItem("cur")==null)){
                    var rem = sessionStorage.getItem("rem");
                    sessionStorage.setItem("cur",rem);
                }
            });
        }

	if(sessionStorage.getItem("cur")!=null){
		var cur = sessionStorage.getItem("cur");
		sessionStorage.setItem("rem",cur);
		if(cur=="journal-size-up"){
			document.getElementById("journal-size").innerHTML = document.getElementById("journal-size").innerHTML + '<i class="arrow up"></i>' ; 
		} else if(cur=="journal-size-down"){
			document.getElementById("journal-size").innerHTML = document.getElementById("journal-size").innerHTML + '<i class="arrow down"></i>' ;
		} else if(cur=="journal-last-up"){
			document.getElementById("journal-last").innerHTML = document.getElementById("journal-last").innerHTML + '<i class="arrow up"></i>' ;
		} else if(cur=="journal-last-down"){
			document.getElementById("journal-last").innerHTML = document.getElementById("journal-last").innerHTML + '<i class="arrow down"></i>' ;
		}
		sessionStorage.removeItem("cur");
	}

</script>
