<% include includes/header %>
<div class="wrapper">
	<% include includes/sidebar %>
	<div class="main-panel">
	<% include includes/navbar %>
		<div class="content">
			<div class="container-fluid">
          <% include includes/flash-errors %>
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <form method="get" id="user-form">
                        <div class="col-md-2">
                          <div class="form-group form-black label-floating is-empty">
                              <input data-l10n-id="john" placeholder="John..." class="form-control" name="username" value="<% if(query.q){ %><%= query.q %><% } %>" type="text">
                              <span class="material-input"></span>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group form-black label-floating is-empty">
                              <select class="form-control" name="role">
                                 <option data-l10n-id="student" value="student" <% if(query.role=='student'){ %>selected="selected"<% } %> >Student</option>
                                 <option data-l10n-id="admin" value="admin" <% if(query.role=='admin'){ %>selected="selected"<% } %> >Admin</option>
                              </select>
							  <script>$('#user-form [name="role"]').select2().on("change", () => show_class_fields())</script>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group form-black label-floating is-empty classroom_input">
                                <select class="form-control" name="classid">
                                    <option value="" selected="selected" >None</option>
                                    <% for(var i=0; i < classrooms.length; i++) { %>
                                        <% if(Array.isArray(classrooms[i].students) && classrooms[i].students && classrooms[i].students.length > 0) { %>
                                            <option value="<%- classrooms[i].students.join(',') %>" <% if(query.classid== classrooms[i].students.join(',')){ %>selected="selected"<% } %> ><%= classrooms[i].name %></option>
                                        <% } %>
                                    <% } %>
                                </select>
                              <script> $('#user-form [name="classid"]').select2(); </script>
                          </div>
                        </div>
						<script>
						window.addEventListener('localized', function() {  // HACK: Force localization of student combo
							var selection = document.getElementsByClassName("select2-selection__rendered");
							if (selection && selection[0] && selection[0].title == "Student") selection[0].innerHTML = document.webL10n.get("student");						});
						</script>
                        <div class="col-md-6">
                            <a class="btn btn-round pull-right " href="/dashboard/users/add" data-l10n-id="addUser"><div class="ripple-container"></div></a>
                            <button class="btn pull-right btn-round" type="submit" data-l10n-id="showResults"><div class="ripple-container"></div></button>
                        </div>
                      </form>
                  </div>
              </div>
              <div class="col-md-12">
                  <% if(data.users.length == 0) {%>
                    <div class="text-center" style="margin-top:50px;">
                            <i class="material-icons dp96">info_outline</i>
                            <p data-l10n-id="noUserText"></p>
                    </div>
                    <%}
                    else {%>
                    <div class="card">
                            <div class="card-header row" data-background-color="black">
                                <div class="col-md-4 col-sm-4 col-lg-4 text-left">
                                <% if(data.links.prev_page) { %>
                                   <a href="<%= data.links.prev_page %>" data-l10n-id="prevPage"><< previous page</a>
                                <% } %>
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4 text-center" data-l10n-id="showingResults" data-l10n-args='{ "offset": "<%= data.offset + 1 %>", "to": "<%= data.offset + data.users.length %>", "total": "<%= data.total %>" }'></div>
                                <div class="col-md-4 col-sm-4 col-lg-4 text-right">
                                <% if(data.links.next_page) { %>
                                   <a href="<%= data.links.next_page %>" data-l10n-id="nextPage">next page >></a>
                                <% } %>
                                </div>
                            </div>
                            <div class="card-content table-responsive">
                                <table class="table">
                                    <thead class="text-muted">
                                        <tr>
                                            <th>#</th>
                                                                                  <% if(query.role != 'admin'){ %><th data-l10n-id="buddy">Buddy</th><% } %>
                                            <th data-l10n-id="name">Name</th>
                                            <th data-l10n-id="language">Language</th>
                                            <th data-l10n-id="role">Role</th>
                                            <th data-l10n-id="lastSeen">Timestamp</th>
                                            <th data-l10n-id="action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i < data.users.length; i++) { %>
                                          <tr>
                                              <td><%= data.offset + i + 1 %></td>
                                                                                      <% if(query.role != 'admin'){ %>
                                                                                          <td>
                                                                                              <div class="color" id="<%= data.users[i]._id %>">
                                                                                                  <div class="xo-icon"></div>
                                                                                              </div>
                                                                                          </td>
                                                                                          <script>
                                                                                              new icon().load("/public/img/owner-icon.svg", (<%- JSON.stringify(data.users[i].color) %>), "<%= data.users[i]._id %>");
                                                                                          </script>
                                                                                      <% } %>
                                              <td><%= data.users[i].name %></td>
                                              <% if(data.users[i].language =='en') {%> <td>English</td> <%} %>
                                              <% if(data.users[i].language =='es') {%> <td>Spanish</td> <%} %>
                                              <% if(data.users[i].language =='fr') {%> <td>French</td> <%} %>
                                              <% if(data.users[i].language =='de') {%> <td>German</td> <%} %>
                                              <% if(data.users[i].language =='pt') {%> <td>Portuguese</td> <%} %>
                                              <% if(data.users[i].language =='ar') {%> <td>Arabic</td> <%} %>
                                              <% if(data.users[i].language =='ja') {%> <td>Japanese</td> <%} %>
                                              <% if(data.users[i].language =='pl') {%> <td>Polish</td> <%} %>
                                              <% if(data.users[i].language =='ibo') {%> <td>Igbo</td> <%} %>
                                              <% if(data.users[i].language =='yor') {%> <td>Yoruba</td> <%} %>
                                              <td><%= data.users[i].role %></td>
                                              <td><%= moment(data.users[i].timestamp).calendar() %></td>
                                              <td>
                                                <a data-l10n-id="seeJournalEntries" title="See Journal Entries" href="/dashboard/journal/<%= data.users[i].private_journal %>?uid=<%= data.users[i]._id %>&type=private"><span class="journal-icon2"></span></a>
                                                <a data-l10n-id="editUser" title="Edit User" href="/dashboard/users/edit/<%= data.users[i]._id %>"><i class="material-icons text-muted">edit</i></a>
                                                <a data-l10n-id="deleteUser" title="Delete User" href="/dashboard/users/delete/<%= data.users[i]._id %>" onclick="return confirm(document.webL10n.get('DoYouWantDeleteUser',{user:'<%= data.users[i].name %>'}))"><i class="material-icons text-muted">delete_forever</i></a>
                                              </td>
                                          </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    <%}%>
              </div>
          </div>
			</div>
		</div>
	</div>
</div>
<% include includes/footer %>
<script>
function show_class_fields() {
    console.log($('#user-form [name="role"]').select2('data')[0].id)
    if($('#user-form [name="role"]').select2('data')[0].id == 'admin'){
        $('.classroom_input').addClass('hide');
        $('#user-form [name="classid"]').val('').trigger('change');

    }else{
        $('.classroom_input').removeClass('hide');
    }
}
show_class_fields('<% if(typeof query == "object"){ %><%= query.role || "student" %><% } %>')
</script>
