<% include includes/header %>
<div class="wrapper">
	<% include includes/sidebar %>
	<div class="main-panel">
	<% include includes/navbar %>
		<div class="content">
			<div class="container-fluid">
          <% include includes/flash-errors %>
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <form method="get" id="user-form">
                        <div class="col-md-3">
                          <div class="form-group form-black label-floating is-empty">
                              <input placeholder="John..." class="form-control" name="username" value="<% if(query.q){ %><%= query.q %><% } %>" type="text">
                              <span class="material-input"></span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group form-black label-floating is-empty">
                              <select class="form-control" name="role">
                                 <option value="student" <% if(query.role=='student'){ %>selected="selected"<% } %> >Student</option>
                                 <option value="admin" <% if(query.role=='admin'){ %>selected="selected"<% } %> >Admin</option>
                              </select>
															<script>$('#user-form [name="role"]').select2()</script>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <button class="btn btn-round" type="submit" data-l10n-id="showResults"><div class="ripple-container"></div></button>
                          <a class="btn pull-right btn-round" href="users/add" data-l10n-id="addUser"><div class="ripple-container"></div></a>
                        </div>
                      </form>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header row" data-background-color="black">
                          <div class="col-md-4 col-sm-4 col-lg-4 text-left">
                          <% if(data.links.prev_page) { %>
                             <a href="<%= data.links.prev_page %>"><< previous page</a>
                          <% } %>
                          </div>
                          <div class="col-md-4 col-sm-4 col-lg-4 text-center" data-l10n-id="showingResults" data-l10n-args='{ "offset": "<%= data.offset %>", "to": "<%= data.offset + data.users.length %>", "total": "<%= data.total %>" }'></div>
                          <div class="col-md-4 col-sm-4 col-lg-4 text-right">
                          <% if(data.links.next_page) { %>
                             <a href="<%= data.links.next_page %>">next page >></a>
                          <% } %>
                          </div>
                      </div>
                      <div class="card-content table-responsive">
                          <table class="table">
                              <thead class="text-muted">
                                  <tr>
                                      <th>#</th>
																			<% if(query.role != 'admin'){ %><th data-l10n-id="buddy">Buddy</th><% } %>
                                      <th data-l10n-id="name">Name</th>
                                      <th data-l10n-id="language">Language</th>
                                      <th data-l10n-id="role">Role</th>
                                      <th data-l10n-id="timestamp">Timestamp</th>
                                      <th data-l10n-id="action">Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <% for(var i=0; i < data.users.length; i++) { %>
                                    <tr>
                                        <td><%= data.offset + i + 1 %></td>
																				<% if(query.role != 'admin'){ %>
																					<td>
																						<div class="color" id="<%= data.users[i]._id %>">
																							<div class="xo-icon"></div>
																						</div>
																					</td>
																					<script>
																						new icon().load("/public/img/owner-icon.svg", (<%- JSON.stringify(data.users[i].color) %>), "<%= data.users[i]._id %>");
																					</script>
																				<% } %>
                                        <td><%= data.users[i].name %></td>
                                        <td><%= data.users[i].language %></td>
                                        <td><%= data.users[i].role %></td>
                                        <td><%= moment(data.users[i].timestamp).calendar() %></td>
                                        <td>
																					<a title="See Journal Entries" href="journal/<%= data.users[i].private_journal %>?uid=<%= data.users[i]._id %>&type=private"><i class="material-icons text-muted">launch</i></a>
                                          <a title="Edit User" href="users/edit/<%= data.users[i]._id %>"><i class="material-icons text-muted">edit</i></a>
                                          <a title="Delete User" href="users/delete/<%= data.users[i]._id %>" onclick="return confirm('Are you really want to delete the user(<%= data.users[i].name %>) ?')"><i class="material-icons text-muted">delete_forever</i></a>
                                        </td>
                                    </tr>
                                  <% } %>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
			</div>
		</div>
	</div>
</div>
<% include includes/footer %>
