<% include includes/header %>
<div class="wrapper">
	<% include includes/sidebar %>
	<div class="main-panel">
	<% include includes/navbar %>
		<div class="content">
			<div class="container-fluid">
          <% include includes/flash-errors %>
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <form method="get" id="user-form">
                            <div class="col-md-2">
                          <div class="form-group form-black label-floating is-empty">
                              <input data-l10n-id="john" placeholder="John..." class="form-control" name="username" value="<% if(query.q){ %><%= query.q %><% } %>" type="text">
                              <span class="material-input"></span>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group form-black label-floating is-empty">
                              <select class="form-control" id="user-type-select2" name="role">
                                <option data-l10n-id="student" value="student" <% if(query.role=='student'){ %>selected="selected"<% } %> >Student</option>
                                <% if (account.user && account.user.role=="admin") { %>
                                <option data-l10n-id="teacher" value="teacher" <% if(query.role=='teacher'){ %>selected="selected"<% } %> >Teacher</option>
                                <option data-l10n-id="admin" value="admin" <% if(query.role=='admin'){ %>selected="selected"<% } %> >Admin</option>
                                <% } %>
                              </select>
							  <script>$('#user-form [name="role"]').select2().on("change", () => show_class_fields())</script>
                          </div>
                        </div>
                        <input name="classroom_id" type="text" style="display:none" %>" value="<% if(classroom_id) { %><%= classroom_id %><% } %>" />
                        <div class="col-md-2">
                          <div class="form-group form-black label-floating is-empty classroom_input">
                                <select class="form-control" id="classroom_select" name="classid">
                                    <option data-l10n-id="selectclassroom" value="" selected="selected" disabled></option>
                                    <% for(var i=0; i < classrooms.length; i++) { %>
                                        <% if(Array.isArray(classrooms[i].students) && classrooms[i].students && classrooms[i].students.length > 0) { %>
                                            <option id="<%- classrooms[i]._id %>" value="<%- classrooms[i].students.join(',') %>" <% if(classroom_id == classrooms[i]._id) { %>selected="selected"<% } %> ><%= classrooms[i].name %></option>
                                        <% } %>
                                    <% } %>
                                </select>
                                <script>
                                    $('#user-form [name="classid"]').select2().on("select2:select", function(e) {
                                        var inputField = $('#user-form [name="classroom_id"]');
                                        var value = "";
                                        if (inputField && e && e.params && e.params.data && e.params.data.element && e.params.data.element.id) {
                                            value = e.params.data.element.id;
                                        }
                                        inputField.val(value);
                                    });
                                </script>
                          </div>
                        </div>
			<script>
			window.addEventListener('localized', function() {  // HACK: Force localization of role combo
				var selection = document.getElementsByClassName("select2-selection__rendered");
				if (selection && selection[0] && typeof selection[0].innerHTML == "string" &&  document.getElementById("user-type-select2")) {
                                var user = document.getElementById("user-type-select2");
                                var val = user.options[user.selectedIndex].value;
                                selection[0].innerHTML = document.webL10n.get(val);
                            }});
			</script>
						<script>
						window.addEventListener('localized', function() {  // HACK: Force localization of student combo
							var selection = document.getElementsByClassName("select2-selection__rendered");
							if (selection && selection[0] && selection[0].title == "Student") selection[0].innerHTML = document.webL10n.get("student");						});
                        </script>
                        <script>
                            window.addEventListener('localized', function() {  // HACK: Force localization of selected field
                                var selection = document.getElementsByClassName("select2-selection__rendered");
                                if (selection && selection[1] && typeof selection[1].innerHTML == "string") {
                                    var classroom_select = document.getElementById("classroom_select");
                                    if(classroom_select.selectedIndex == 0){
                                        selection[1].innerHTML = document.webL10n.get("selectclassroom");
                                    }
                                }
                            });
                            </script>
                        <div class="col-md-6">
                            <div class="btn pull-right btn-round" onclick="downloadUsers()">Export Users</div>
                            <script>
                                function downloadUsers(event) {
                                    $.ajax({
                                            type: "GET",
                                            url: "/dashboard/users/export",
                                            success: function (res) {
                                                if (res && res.success) {
                                                    var headers = {
                                                        _id: "_id",
                                                        name : "name",
                                                        type : "type",
                                                        language : "language",
                                                        stroke : "stroke",
                                                        fill : "fill",
                                                        password : "password",
                                                        classroom : "classroom"
                                                    };
                                                    exportCSVFile(headers, res.data, 'UserExport');
                                                    $.notify({
                                                        icon: "notifications",
                                                        message: res.msg

                                                    },{
                                                        type: 'success',
                                                        timer: 2000,
                                                        placement: {
                                                            from: 'top',
                                                            align: 'right'
                                                        }
                                                    });
                                                } else {
                                                    $.notify({
                                                        icon: "error",
                                                        message: res.msg
                                                    },{
                                                        type: 'danger',
                                                        timer: 2000,
                                                        placement: {
                                                            from: 'top',
                                                            align: 'right'
                                                        }
                                                    });
                                                }
                                            }
                                        });
                                }
                            </script>
                            <div>
                                <label for="csv-upload" class="btn pull-right btn-round" >Add From CSV<div class="ripple-container"></div></label>
                                <input id="csv-upload" style="visibility:hidden; display:none;" type="file" name="csv-file" accept="text/csv">
                                <script>
                                    $("#csv-upload").change(function() {
                                        var formData = new FormData();
                                        var fileSelect = document.getElementById("csv-upload");
                                        var files = fileSelect.files;
                                        formData.append("file", files[0], files[0].name);
                                        $.ajax({
                                            type: "POST",
                                            url: "/dashboard/users/import",
                                            enctype: 'multipart/form-data',
                                            data: formData,
                                            processData: false,
                                            contentType: false,
                                            success: function (res) {
                                                var timer = 2000;
                                                if (res && res.success) {
                                                    var headers = {
                                                        status : "status",
                                                        comment : "comment",
                                                        _id: "_id",
                                                        name : "name",
                                                        type : "type",
                                                        language : "language",
                                                        stroke : "stroke",
                                                        fill : "fill",
                                                        password : "password",
                                                        classroom : "classroom"
                                                    };
                                                    exportCSVFile(headers, res.data, 'UploadedUsers');
                                                    $.notify({
                                                        icon: "notifications",
                                                        message: res.msg

                                                    },{
                                                        type: 'success',
                                                        timer: timer,
                                                        placement: {
                                                            from: 'top',
                                                            align: 'right'
                                                        }
                                                    });
                                                } else {
                                                    $.notify({
                                                        icon: "error",
                                                        message: res.msg
                                                    },{
                                                        type: 'danger',
                                                        timer: timer,
                                                        placement: {
                                                            from: 'top',
                                                            align: 'right'
                                                        }
                                                    });
                                                }
                                                setTimeout(function () {
                                                    location.reload();
                                                }, timer);
                                            }
                                        });
                                    });
                                </script>
                            </div>
                            <a class="btn btn-round pull-right " href="/dashboard/users/add" data-l10n-id="addUser"><div class="ripple-container"></div></a>
                            <button class="btn pull-right btn-round" type="submit" data-l10n-id="showResults"><div class="ripple-container"></div></button>
                        </div>
                      </form>
                  </div>
              </div>
              <div class="col-md-12">
                  <% if(data.users.length == 0) {%>
                    <div class="text-center" style="margin-top:50px;">
                            <i class="material-icons dp96">info_outline</i>
                            <p data-l10n-id="noUserText"></p>
                    </div>
                    <%}
                    else {%>
                    <div class="card">
                            <div class="card-header row" data-background-color="black">
                                <div class="col-md-4 col-sm-4 col-lg-4 text-left">
                                <% if(data.links.prev_page) { %>
                                   <a href="<%= data.links.prev_page %>" data-l10n-id="prevPage"><< Prev Page</a>
                                <% } %>
                                </div>
                                <div class="col-md-4 col-sm-4 col-lg-4 text-center" data-l10n-id="showingResults" data-l10n-args='{ "offset": "<%= data.offset + 1 %>", "to": "<%= data.offset + data.users.length %>", "total": "<%= data.total %>" }'></div>
                                <div class="col-md-4 col-sm-4 col-lg-4 text-right">
                                <% if(data.links.next_page) { %>
                                   <a href="<%= data.links.next_page %>" data-l10n-id="nextPage">Next Page >></a>
                                <% } %>
                                </div>
                            </div>
                            <div class="card-content table-responsive">
                                <table class="table">
                                    <thead class="text-muted">
                                        <tr>
                                            <th>#</th>
                                                                                  <% if(query.role != 'admin'){ %><th data-l10n-id="buddy">Buddy</th><% } %>
                                            <th data-l10n-id="username">Username</th>
                                            <th data-l10n-id="language">Language</th>
                                            <th data-l10n-id="role">Role</th>
                                            <th data-l10n-id="lastSeen">Timestamp</th>
                                            <th data-l10n-id="action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i < data.users.length; i++) { %>
                                          <tr>
                                              <td><%= data.offset + i + 1 %></td>
                                                                                      <% if(query.role != 'admin'){ %>
                                                                                          <td>
                                                                                              <div class="color" id="<%= data.users[i]._id %>">
                                                                                                  <div class="xo-icon"></div>
                                                                                              </div>
                                                                                          </td>
                                                                                          <script>
                                                                                              new icon().load("/public/img/owner-icon.svg", (<%- JSON.stringify(data.users[i].color) %>), "<%= data.users[i]._id %>");
                                                                                          </script>
                                                                                      <% } %>
                                              <td><%= data.users[i].name %></td>
                                              <% if(data.users[i].language =='en') {%> <td data-l10n-id="english"></td> <%} %>
                                              <% if(data.users[i].language =='es') {%> <td data-l10n-id="spanish"></td> <%} %>
                                              <% if(data.users[i].language =='fr') {%> <td data-l10n-id="french"></td> <%} %>
                                              <% if(data.users[i].language =='de') {%> <td data-l10n-id="german"></td> <%} %>
                                              <% if(data.users[i].language =='pt') {%> <td data-l10n-id="portuguese"></td> <%} %>
                                              <% if(data.users[i].language =='ar') {%> <td data-l10n-id="arabic"></td> <%} %>
                                              <% if(data.users[i].language =='ja') {%> <td data-l10n-id="japanese"></td> <%} %>
                                              <% if(data.users[i].language =='pl') {%> <td data-l10n-id="polish"></td> <%} %>
                                              <% if(data.users[i].language =='ibo') {%> <td data-l10n-id="igbo"></td> <%} %>
                                              <% if(data.users[i].language =='yor') {%> <td data-l10n-id="yoruba"></td> <%} %>
                                              <td data-l10n-id="<%= data.users[i].role %>">Student</td>
                                              <td><%= moment(data.users[i].timestamp).calendar() %></td>
                                              <td>
                                                <% if(data.users[i].role == 'student') {%>
                                                <a data-l10n-id="seeJournalEntries" title="See Journal Entries" href="/dashboard/journal/<%= data.users[i].private_journal %>?uid=<%= data.users[i]._id %>&type=private"><span class="journal-icon2"></span></a>
                                                <% } %>
                                                <a data-l10n-id="editUser" title="Edit User" href="/dashboard/users/edit/<%= data.users[i]._id %>"><i class="material-icons text-muted">edit</i></a>
                                                <a data-l10n-id="deleteUser" title="Delete User" href="/dashboard/users/delete/<%= data.users[i]._id %>?role=<%= data.users[i].role %>&name=<%= data.users[i].name %>" onclick="return confirm(document.webL10n.get('DoYouWantDeleteUser',{user:'<%= data.users[i].name %>'}))"><i class="material-icons text-muted">delete_forever</i></a>
                                              </td>
                                          </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    <%}%>
              </div>
          </div>
			</div>
		</div>
	</div>
</div>
<% include includes/footer %>
<script>
function show_class_fields() {
    if($('#user-form [name="role"]').length && $('#user-form [name="role"]').select2('data')[0].id != 'student'){
        $('.classroom_input').addClass('hide');
        $('#user-form [name="classid"]').val('').trigger('change');
        
    }else{
        $('.classroom_input').removeClass('hide');
    }
}
show_class_fields('<% if(typeof query == "object"){ %><%= query.role || "student" %><% } %>')
</script>
